* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif; */
}
body {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.8);
  /* position: relative; */
  overflow-x: hidden;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
nav {
  width: 100vw;
  height: 75px;
  background-color: #ffc017;
  color: #fff;
  display: flex;
  align-items: center;
  /* position: relative; */
  /* position: fixed; */
  position: sticky;
  top: 0;
  border-bottom: 1px solid #242424;
  z-index: 10;
}
nav h1 {
  font-size: 2vw;
}
nav .logo {
  height: 25px;
  vertical-align: middle;
}
.nav {
  margin: 0 64px;
  width: 100%;
  display: flex;
  /* gap: 10px; */
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navr {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 26px;
}
.navh {
  display: flex;
  gap: 30px;
}
.navr button {
  border: 1px solid rgba(25, 25, 25, 1);
  color: rgba(255, 255, 255, 1);
  background: rgba(25, 25, 25, 1);
  border-radius: 99em;
  padding: 8px 16px;
  line-height: 20px;
}
.page1 {
  position: relative;
  width: 100vw;
  /* height: 77.4vh; */
  background-color: #ffc017;
  overflow: hidden;
  border-bottom: 1px solid #242424;
}
.content {
  margin: 0 64px;
}
.right-svg {
  position: absolute;
  /* right: 0; */
  width: 585px;
}
.right-svg img {
  vertical-align: middle;
}
.left-content {
  /* width: 550px; */
  /* margin: 0 64px; */
  padding-top: 93px;
  padding-bottom: 92px;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  display: flex;    
  flex-direction: column;
}
.heading {
  margin-bottom: 35px;
}
.heading h2 {
  color: #000000;
  font-weight: 400;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}
.sub-heading {
  width: 80%;
  margin-bottom: 50px;
}
.sub-heading h3 {
  font-size: 24px;
  line-height: 24px;
  color: #242424;
  font-weight: 400;
}
.sr-btn button {
  font-size: 20px;
  width: 213px;
  padding: 8px 20px;
  line-height: 24px;
  border: 1px solid rgba(25, 25, 25, 1);
  background: rgba(25, 25, 25, 1);
  border-radius: 99em;
  color: rgba(255, 255, 255, 1);
}
.page2 {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page2-wrap {
  padding-top: 40px;
  padding-bottom: 16px;
}
.title {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.title svg {
  margin-right: 10px;
  vertical-align: middle;
}
.title h2 {
  letter-spacing: 0;
  font-weight: 500;
  font-size: 16px;
  color: #242424;
  line-height: 20px;
}
.page2-content {
  width: 100%;
}
.page2-content-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.content1 {
  flex-grow: 0;
}
.content1-wrap {
  height: 100%;
  width: 100%;
}
.trending-post {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.SN {
  position: relative;
  top: -10px;
  flex: 0 0 auto;
  width: 40px;
  margin-right: 16px;
  display: block;
}
.SN > span {
  color: #f2f2f2;
  letter-spacing: -0.014em;
  line-height: 38px;
  font-size: 32px;
  font-weight: 500;
}
.post {
  display: flex;
  flex-direction: column;
}
.post-author {
  margin-bottom: 8px;
  display: block;
}
.author {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 10px; */
}
a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
svg {
  vertical-align: middle;
}
.author-img {
  position: relative;
  display: block;
}
.author-img img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: block;
}
.img-shadow {
  border: none;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  width: 20px;
  height: 20px;
  top: 0;
  display: block;
}
.author-name {
  margin-left: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.name {
  height: 16px;
  display: block;
}
.name1 {
  display: block;
}
.name11 {
  display: flex;
  align-items: center;
}
.name11 a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  fill: inherit;
  color: inherit;
}
.name11 a > h4 {
  padding-right: 2px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
.post-heading {
  margin-bottom: 8px;
  display: block;
}
.post-heading a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  fill: inherit;
  color: inherit;
}
.post-heading a h2 {
  -webkit-line-clamp: 2;
  max-height: 40px;
  font-weight: 700;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  letter-spacing: 0;
  font-size: 16px;
  overflow: hidden;
  color: #242424;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-date {
  font-size: 13px;
  color: #6b6b6b;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.date-flex {
  display: flex;
  align-items: center;
}
.date-padding {
  padding-right: 6px;
  padding-left: 6px;
  display: block;
}
.dot {
  font-size: 14px;
}
/* Post with book author */
.book-author {
  cursor: initial;
  display: flex;
  margin-right: 3px;
}
.book-author > div {
  display: flex;
}
.book-name {
  display: flex;
}
.book-name > h4 {
  padding-right: 2px;
  line-height: 16px;
  font-size: 13px;
  color: #6b6b6b;
  font-weight: 500;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.book-name a {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  fill: inherit;
  color: inherit;
}
.book-name a > h4 {
  /* padding-right: 2px; */
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Post with member only */
.member-only {
  box-sizing: content-box;
  padding: 0 0 0 4px;
  display: flex;
}
.member-only > div {
  display: inline-block;
}
.member-only button {
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
  background: transparent;
  overflow: visible;
}
.author-img-bp {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  
}
.border {
  display: block;
}
.border1 {
  display: flex;
  justify-content: center;
}
.border2 {
  min-width: 0;
  max-width: 1192px;
  width: 100%;
}
.border4 {
  display: block;
}
.border5 {
  display: block;
}
.border51 {
  padding-bottom: 16px;
  display: block;
}
.border51 > h2 {
  letter-spacing: 0;
  font-weight: 500;
  font-size: 16px;
  color: #242424;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.border52 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.topics {
  margin-bottom: 10px;
  display: flex;
}
.topics > a {
  border: none;
  margin-right: 8px;
  cursor: pointer;
  padding: 0;
}
.topics a > div {
  white-space: nowrap;
  transition: background 300ms ease;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
  background-color: #f2f2f2;
  position: relative;
  padding: 8px 16px;
  color: #242424;
  line-height: 20px;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.border53 {
  display: block;
  margin-top: 14px;
}
.border53 p {
  color: #1a8917;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page3 {
  border-top: 1px solid #f2f2f2;
  display: block;
}
.child1 {
  display: flex;
  justify-content: center;
}
.child12 {
  width: 100%;
  min-width: 0;
  max-width: 1192px;
}
.child121 {
  display: grid;
  grid-template-rows: 1fr;
}
.box1 {
  display: block;
}
.box12 {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
}
.load-more{
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}
.load-more button{
  background: 0px center;
  fill: rgb(36, 36, 36);
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 99em;
  padding: 8px 16px;
  color: #242424;
  line-height: 20px;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.articles {
  height: 100%;
  width: 100%;
}
.feeds {
  opacity: 1;
  max-height: auto;
}
.feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1 1 auto;
}
.div1 {
  margin-right: 20px;
  min-width: 0;
  width: 100%;
  display: block;
}
.div12 {
  padding-bottom: 8px;
  display: block;
}
.div121 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div121 img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.div1211 {
  margin-left: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.div12111 {
  height: 16px;
  display: block;
}
.div121111 {
  display: block;
}
.div1211111 {
  display: flex;
  align-items: center;
}
.div1211111 a {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  fill: inherit;
  color: inherit;
}
.div1211111 a > h4 {
  padding-right: 2px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
.div12112 {
  display: flex !important;
  flex-direction: row !important;
}
.middle-in {
  padding-right: 2px;
  line-height: 16px;
  font-size: 13px;
  color: #6b6b6b;
  font-weight: 500;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  fill: inherit;
  color: inherit;
  display: inline-block;
}
.blog-name {
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
.article-title {
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article-brief {
  padding-top: 4px;
  display: block;
}
.article-brief h3 {
  -webkit-line-clamp: 2;
  max-height: 40px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  color: #6b6b6b;
  font-size: 16px;
  overflow: hidden;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.post-dateflex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.post-date-part {
  display: flex;
  align-items: center;
  min-width: 0;
}
.published-date {
  white-space: nowrap;
}
.date {
  font-size: 13px;
  color: #6b6b6b;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.dot1 {
  position: relative;
  top: -1px;
  padding-right: 6px;
  margin-left: 6px;
  height: 100%;
  display: block;
}
.span1 {
  display: block;
}
.span1 > span {
  color: #6b6b6b;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rt {
  white-space: nowrap;
}
.reading-time {
  font-size: 13px;
  font-weight: 400;
  color: #686868;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dot2 {
  position: relative;
  top: -1px;
  padding-right: 6px;
  margin-left: 6px;
  height: 100%;
  display: block;
}
.link1 {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  fill: inherit;
  color: inherit;
}
.category-tag {
  padding: 2px 8px;
  white-space: nowrap;
  transition: background 300ms ease;
  border: 1px solid #f2f2f2;
  font-size: 13px;
  color: #686868;
  border-radius: 100px;
  background-color: #f2f2f2;
  position: relative;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.save-icon {
  display: flex;
}
.save-icon-flex {
  display: flex;
  align-items: center;
}
.mr {
  margin-right: 8px;
  display: block;
}
.dib {
  display: inline-block;
}
.mw path {
  fill: rgba(36, 36, 36);
}
/* .article-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
} */
.class1 {
  height: 100%;
  width: 100%;
}
.feed-item {
  max-height: auto;
  opacity: 1;
}
.div1 {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.div1-child1 {
  margin-right: 20px;
  min-width: 0;
  width: 100%;
  display: block;
}
.div1-gc1 {
  padding-bottom: 8px;
  display: block;
}
.div1-child1-gc1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div1-child1-gc1-child1 {
  display: block;
  position: relative;
}
.feed2-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: block;
}
.blank-div1 {
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 0;
  display: block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.div1-child1-gc1-child2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 8px;
}
.div1-child1-gc1-child2-child1 {
  height: 16px;
  display: block;
}
.author-name-feed2 {
  display: flex;
}
.author-name-feed2-flex {
  display: flex;
  align-items: center;
}
.link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  fill: inherit;
  color: inherit;
  /* display: inline-block; */
}
.link-h4 {
  padding-right: 2px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.book-publisher-icon {
  margin-right: 3px;
  display: block;
}
.bp {
  cursor: initial;
  display: flex;
}
.bp1 {
  display: flex;
}
.div1-gc2 h2 {
  -webkit-line-clamp: 2;
  font-weight: 700;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #242424;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.feed-brief {
  padding-top: 4px;
  display: block;
}
.feed-brief h3 {
  -webkit-line-clamp: 2;
  max-height: 40px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-height: 20px;
  overflow: hidden;
  color: #686868;
  font-weight: 400;
  font-size: 16px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.div1-gc3 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.div1-gc3-child1 {
  display: flex;
  align-items: center;
  min-width: 0;
}
.published-date {
  white-space: nowrap;
}
/* Author with big name */
.big-name {
  display: flex;
}
.link-ib {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  fill: inherit;
  color: inherit;
  display: inline-block;
}
.link-ib h4 {
  padding-right: 2px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mo-icon {
  box-sizing: content-box;
  padding: 0 0 0 4px;
  display: flex;
}
.ib {
  display: inline-block;
}
.mo-icon-btn {
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
  background: transparent;
  overflow: visible;
}

.aside-panel {
  /* display: grid; */
}
.as-ide {
  position: sticky;
  top: 107px;
  display: block;
}
.as-ide1-1{
  display: block;
}
.as-ide1-1-1{
  display: block;
}
.as-ide1-1-1-1{
  padding-bottom: 16px;
  display: block;
}
.as-ide1-1-1-1 h2{
  letter-spacing: 0;
  font-weight: 550;
  font-size: 16px;
  color: #242424;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.as-ide1-1-1-2{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.as-ide1-1-1-2-1{
  display: flex;
  margin-bottom: 10px;
}
.as-ide1-1-1-2-1 a{
  border: none;
  margin-right: 8px;
  cursor: pointer;
  padding: 0;
}
.as-ide1-1-1-2-1 a>div{
  white-space: nowrap;
  transition: background 300ms ease;
  border: 1px solid #F2F2F2;
  border-radius: 100px;
  background-color: #F2F2F2;
  position: relative;
  padding: 8px 16px;
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.as-ide1-1-1-3{
  display: block;
  margin-top: 14px;
}
.as-ide1-1-1-3 p{
  color: #1a8917;
  line-height: 20px;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.as-ide2{
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.as-ide2-items{
  margin-right: 26px;
  margin-bottom: 8px;
  display: block;
}
.last-item{
  /* margin-right: 26px; */
  margin-bottom: 8px;
  display: block;
}
.as-ide2-items p{
  color: #6B6B6B;
  line-height: 20px;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.footer{
  background-color: rgba(0, 0, 0, 1);
  bottom: 0;
  position: static;
  right: 0;
  left: 0;
  padding: 30px 0;
  min-width: 100vw;
  display: block;
  margin-bottom: 0;
}
.footer-flex{
  display: flex;
  justify-content: center;
}
.footer-margin{
  min-width: 0;
  max-width: 1192px;
  width: 100%;
}
.footer-margin svg{
  height: 22px;
  fill: rgba(255, 255, 255, 1);
}
.footer-options{
  margin-top: 20px;
  display: block;
}
.footer-options p{
  color: rgba(255, 255, 255, 0.95);
  font-size: 13px;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.footer-links{
  margin-right: 20px !important;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: 0;
  font-family:inherit;
  border: inherit;
  fill: inherit;
  font-size: inherit;
  color: inherit;
}
.app-redirect hr{
  margin: 28px 0 20px;
  background-color: rgba(255, 255, 255, 0.95);
  height: 1px;
  border: 0;
}
.app-redirect h2{
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.app-logo{
  margin-top: 20px;
  display: flex;
}
.app-store-logo{
  margin-right: 16px;
  display: block;
} 

#post31{
  display: none;
}

@media (min-width: 1080px) {
  .right-svg {
    right: 0;
  }
  .heading h2 {
    letter-spacing: -0.05em;
    line-height: 95px;
    font-size: 106px;
  }
  .left-content {
    width: 550px;
  }
  .page2 {
    margin: 0 64px;
  }
  .page2-content-wrap {
    margin-right: -16px;
    margin-left: -16px;
    width: calc(100% + 32px);
  }
  .content1 {
    max-width: 33.333333%;
    flex-basis: 33.333333%;
    padding-right: 16px;
    padding-left: 16px;
  }
  .border2 {
    margin: 0 64px;
  }
  .border3 {
    display: none;
  }
  .border4 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 32px;
  }
  .page3 {
    padding-top: 56px;
  }
  .child12 {
    margin: 0 64px;
  }
  .child121 {
    grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  }
  .section1 {
    grid-column: 1 / span 7;
    grid-row-start: 1;
  }
  .feeds {
    margin-bottom: 48px;
  }
  .article-title {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
  }
  .post-dateflex {
    padding-top: 8px;
  }
  .feed-item {
    margin-bottom: 48px;
  }
  .div1-gc2 h2 {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
  }
  .div1-gc3 {
    padding-top: 8px;
  }
  .aside-panel {
    grid-column: 9 / span 4;
    grid-row-start: 1;
  }
  .as-ide1 {
    display: block;
  }
  .as-ide1-1{
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 32px;
  }
  footer{
    display: none;
  }
  .footer-margin{
    margin: 0 64px;
  }
  .app-redirect{
    display: none;
  }
  .load-more{
    display: none;
  }
}
@media (min-width: 904px) and (max-width: 1079.98px) {
  .heading h2 {
    letter-spacing: -0.05em;
    line-height: 95px;
    font-size: 106px;
  }
  .page2-content-wrap {
    margin-right: -16px;
    margin-left: -16px;
    width: calc(100% + 32px);
  }
  .content1 {
    max-width: 50%;
    flex-basis: 50%;
    padding-right: 16px;
    padding-left: 16px;
  }
  .border3 {
    display: none;
  }
  .border4 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 32px;
  }
  .child12 {
    margin: 0 64px;
  }
  .child121 {
    grid-column-gap: 32px;
    grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  }
  .section1 {
    grid-column: 1 / span 8;
    grid-row-start: 1;
  }
  .feeds {
    margin-bottom: 48px;
  }
  .article-title {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
  }
  .post-dateflex {
    padding-top: 8px;
  }
  .feed-item {
    margin-bottom: 48px;
  }
  .div1-gc2 h2 {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
  }
  .div1-gc3 {
    padding-top: 8px;
  }
  .aside-panel {
    grid-column: 9 / span 4;
    grid-row-start: 1;
  }
  .as-ide1 {
    display: block;
  }
  .as-ide1-1{
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 32px;
  }
  footer{
    display: none;
  }
  .footer-margin{
    margin: 0 64px;
  }
  .app-redirect{
    display: none;
  }
  .border2 {
    margin: 0 64px;
  }
  .load-more{
    display: none;
  }
}
@media (orientation: landscape) and (max-width: 903.98px) {
  .left-content {
    width: 500px;
  }
  .right-svg {
    left: 420px;
  }
  .left-content {
    width: 500px;
  }
  .name11 a > h4 {
    max-height: none;
  }
  .book-name a > h4 {
    max-height: none;
  }
  .post-heading a h2 {
    max-height: none;
  }
  .page3 {
    padding-top: 40px !important;
  }
  .child121 {
    grid-template-columns: 1fr;
  }
  .div1211111 a > h4 {
    max-height: none;
  }
  .blog-name {
    max-height: none;
  }
  .article-title {
    max-height: none;
  }
  .article-brief h3 {
    max-height: none;
  }
  .link-h4 {
    max-height: none;
  }
  .div1-gc2 h2 {
    max-height: none !important;
  }
  .feed-brief h3 {
    max-height: none;
  }
  .link-ib h4 {
    max-height: none !important;
  }
  .aside-panel {
    display: none;
  }
  .border{
    border-top: 1px solid #f2f2f2;
  }
}
@media (min-width: 728px) and (max-width: 903.98px) {
  .nav {
    margin: 0 48px;
  }
  .heading h2 {
    letter-spacing: -0.055em;
    line-height: 88px;
    font-size: 85px;
  }
  .content {
    margin: 0 48px;
  }
  .page2-content-wrap {
    margin-right: -14px;
    margin-left: -14px;
    width: calc(100% + 28px);
  }
  .content1 {
    max-width: 50%;
    flex-basis: 50%;
    padding-right: 14px;
    padding-left: 14px;
  }
  .border3 {
    display: block;
  }
  .border4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .child12 {
    margin: 0 48px;
  }
  .feeds {
    margin-bottom: 48px;
  }
  .article-title {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
  }
  .post-dateflex {
    padding-top: 8px;
  }
  .feed-item {
    margin-bottom: 48px;
  }
  .div1-gc2 h2 {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 20px;
  }
  .div1-gc3 {
    padding-top: 8px;
  }
  .as-ide1{
    display: none;
  }
  .as-ide1-1{
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .footer-margin{
    margin: 0 48px;
  }
  .app-redirect{
    display: none;
  }
  /* .border1{
    margin: 0 48px;
  } */
  .border2{
    margin: 0 48px;
  }
}
@media (min-width: 552px) and (max-width: 727.98px) {
  .v {
    display: none;
  }
  .nav {
    margin: 0 22px;
  }
  .heading h2 {
    letter-spacing: -0.055em;
    line-height: 88px;
    font-size: 85px;
  }
  .content {
    margin: 0 24px;
  }
  .nav {
    margin: 0 24px;
  }
  .page2-content-wrap {
    margin-right: -12px;
    margin-left: -12px;
    width: calc(100% + 24px);
  }
  .content1 {
    max-width: 100%;
    flex-basis: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .border3 {
    display: block;
  }
  .border4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .child12 {
    margin: 0 24px;
  }
  .feeds {
    margin-bottom: 48px;
  }
  .article-title {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 20px;
    font-size: 16px;
  }
  .post-dateflex {
    padding-top: 4px;
  }
  .article-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
  .feed-item {
    margin-bottom: 48px;
  }
  .div1-gc2 h2 {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 16px;
  }
  .div1-gc3 {
    padding-top: 4px;
  }
  .as-ide1{
    display: block;
  }
  .as-ide1-1{
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .footer-margin{
    margin: 0 24px;
  }
  .border2{
    margin: 0 24px;
  }
}
@media (max-width: 551.98px) {
  .navh {
    display: none;
  }
  .nav {
    margin: 0 22px;
  }
  .heading h2 {
    letter-spacing: -0.05em;
    line-height: 74px;
    font-size: 70px;
  }
  .content {
    margin: 0 24px;
  }
  .left-content {
    width: 100% !important;
    padding-bottom: 67px;
  }
  .sub-heading {
    width: 100%;
  }
  .page2 {
    margin: 0 24px;
  }
  .page2-content-wrap {
    margin-right: -12px;
    margin-left: -12px;
    width: calc(100% + 24px);
  }
  .content1 {
    max-width: 100%;
    flex-basis: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .book-name {
    margin-left: 8px;
  }
  .border3 {
    display: block;
  }
  .border4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .child12 {
    /* margin: 0 24px; */
  }
  .feeds {
    margin-bottom: 32px;
  }
  .article-title {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 20px;
    font-size: 16px;
  }
  .post-dateflex {
    padding-top: 4px;
  }
  .category-tag {
    display: none;
  }
  .article-img {
    width: 100px;
    height: 100px;
  }
  .feed {
    display: flex;
    align-items: flex-end;
  }
  .feed-item {
    margin-bottom: 32px;
  }
  .div1-gc2 h2 {
    letter-spacing: 0;
    max-height: 48px;
    line-height: 24px;
    font-size: 16px;
  }
  .div1-gc3 {
    /* padding-top: 4px; */
  }
  .dot2 {
    display: none;
  }
  .link1 {
    display: none;
  }
  .mr {
    margin-right: 4px;
  }
  .img-resize {
    width: 100px;
    aspect-ratio: auto 100 / 100;
    height: 100px;
  }
  .author-name-feed2 {
    display: inline-block;
    /* margin-bottom: 10px; */
  }
  .name-big {
    padding-bottom: 15px;
  }
  .as-ide1{
    display: none;
  }
  .as-ide1-1{
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .as-ide2{
    display: none;
  }
  footer{
    margin-left: -25px;
  }
  .footer-margin{
    margin: 0 24px;
  }
  .author-img-bp{
  position: relative;
  top: 6px;
  }
  .border{
    border-top: 1px solid #f2f2f2;
  }
  .border2{
    margin: 0 24px;
  }
}
@media (max-width: 1079.98px) {
  .right-svg {
    left: 520px;
  }
  .left-content {
    width: 550px;
  }
  .page3 {
    padding-top: 56px;
  }
}
@media (max-width: 728.98px) {
  .right-svg {
    display: none;
  }
  .left-content {
    width: 500px;
  }
  .feed {
    display: flex;
    align-items: flex-start;
    padding-right: 0px;
    margin-right: 0px;
  }
  .div1 {
    display: flex;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: 0px;
  }
  .feed-brief {
    display: none;
  }
  .footer{
    padding: 24px 0;
  }
  .border{
    border-top: 1px solid #f2f2f2;
  }
}
